---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="pageClassSub" id="container">
		<div id="content" role="main" class="contents" data-brl-use="PH">
			<div class="content-inner">
				<form name="relayListForm" id="relayListForm">
					<input type="hidden" id="cPage" name="cPage" />
					<input type="hidden" id="order" name="order" />
					<input type="hidden" id="discountMonth" name="discountMonth" />
					<input type="hidden" id="companySeq" name="companySeq" />
					<input type="hidden" id="sGubun" name="sGubun" />
					<input type="hidden" id="sSdate" name="sSdate" />
					<input type="hidden" id="sEdate" name="sEdate" />
					<input type="hidden" id="sWord" name="sWord" value="" />
				</form>
				<div class="location" data-brl-use="NO">
					<a href="/index.do">홈</a>

					<!-- &gt; <a href="/home/index.do">문화체험</a> -->

					<strong>수험생을 위한 문화혜택</strong>

					<div class="contents__util" data-brl-use="NO">
						<div class="contents__share">
							<button
								type="button"
								class="contents__share--trigger"
								aria-owns="contentShare"
								aria-expanded="false">SNS 공유</button
							>
							<ul id="contentShare" class="sns-list">
								<li class="sns-list__item">
									<a
										href="javascript:shareFacebook();"
										title="페이스북 공유 새창"
										class="sns-list__item--facebook">페이스북</a
									>
								</li>
								<li class="sns-list__item">
									<a
										href="javascript:shareTwitter();"
										title="트위터 공유 새창"
										class="sns-list__item--twitter">트위터</a
									>
								</li>
								<!-- 요청 사항으로 삭제 처리 2022/12/22-->
								<!-- <li class="sns-list__item"><a href="javascript:shareGoogle();" title="구글 공유 새창" class="sns-list__item--google">구글</a></li> -->
								<li class="sns-list__item">
									<a
										href="javascript:shareKakaoTalk();"
										name="kakao-link-btn"
										id="kakao-link-btn"
										title="카카오톡 공유 새창"
										class="sns-list__item--kakaotalk">카카오톡</a
									>
								</li>
								<!-- 서비스종료 주석처리 -->
								<!-- <li class="sns-list__item"><a href="javascript:shareKakaoStoryA();" id="kakaostory-share" name="kakaostory-share" title="카카오스토리 공유 새창" class="sns-list__item--kakaostory">카카오스토리</a></li> -->
								<li class="sns-list__item">
									<a
										href="javascript:shareClipboardData();"
										title="주소복사"
										class="sns-list__item--copy">주소 복사</a
									>
								</li>
							</ul>
						</div>
						<button
							type="button"
							onclick="openBrlViewer(document.title)"
							class="contents__util--brail">점자새창</button
						>
						<button
							type="button"
							onclick="exportBrl('brl', document.title)"
							class="contents__util--brailprint">점자다운로드</button
						>
						<button type="button" class="contents__util--print" title="인쇄"
							>프린트</button
						>
						<script>
							onload = function () {
								$(".contents__util--print").on("click", function () {
									window.print();
									return false;
								});
							};
						</script>

						<div style="float: left;padding: 7px;">
							<!-- <span th:text="${viewTitle}" style="font-size: 20px;padding: 21px;font-weight: bold;" id="charactersChange" >제목</span> -->
							<script type="text/javascript">
								// 특수문자 처리를 위한 스크립트
								var charactersChange = $("#charactersChange").text();
								if (charactersChange != null) {
									charactersChange = charactersChange.replace(/&lt;/gi, "<");
									charactersChange = charactersChange.replace(/&gt;/gi, ">");
									charactersChange = charactersChange.replace(/&#39;/gi, "'");
								}
								$("#charactersChange").text(charactersChange);
							</script>
							<script type="text/javascript">
								// 20.12.23 와이즈트래킹 추가
								try {
									_TRK_MVT2 = $("#charactersChange").text();
								} catch (_e) {
									console.log(_e);
								}

								// 20.12.23 공식 홈페이지 바로가기 와이즈트래킹 추가 // html : performView , educationView , festivalView
								function Call_trk_flashEnvView() {
									eval(
										"try{_trk_flashEnvView('_TRK_MVT2='+$('#charactersChange').text(),'_TRK_G13=1');console.log($('#charactersChange').text())}catch(_e){console.log(_e)}"
									);
									//console.log('call : ' , document.getElementById('charactersChange').textContent);
								}
							</script>
						</div>
					</div>
				</div>
				<section class="section-main">
					<div class="section-inner">
						<div class="title-area">
							<h1 class="title-h1" data-brl-use="PT">
								수험생을 위한 문화혜택<span class="txt">
									수험생들을 위한 문화혜택 및 문화생활 정보</span
								>
							</h1>
						</div>
					</div>
				</section>
				<section class="section-exam">
					<div class="section-inner">
						<div class="wrap-exam"></div>
						<div class="wrap-exam-info">
							<p class="title-h4">박물관/미술관</p>
							<div class="organ-inner">
								<!-- 박물관/미술관 -->
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											국립중앙박물관 공연/전시 무료입장
										</li>
										<a
											href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=262261&uci=G706%2B1700043712588
											"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										특별전 스투파의 숲, 신비로운 인도이야기<br />
										 수험생 무료입장
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.12.22. ~ 24.04.14.</li>
										<li><span>장 소</span>국립중앙박물관 기획전시실</li>
										<li><span>대 상</span>수혐표 소지자</li>
										<li><span>문 의</span>국립박물관문화재단(1544-5955)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											국립중앙박물관 공연/전시 무료입장
										</li>
										<a
											href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=253829&uci=G706%2B1692718468080
											"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										특별전 탕탕평평蕩蕩平平-글과 그림의 힘<br />
										 수험생 무료입장
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.12.08. ~ 24.03.10.</li>
										<li><span>장 소</span>국립중앙박물관 특별전시실</li>
										<li><span>대 상</span>수혐표 소지자</li>
										<li><span>문 의</span>국립박물관문화재단(1544-5955)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">국립경주박물관 무료강좌 수강</li>
										<a
											href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=262266&uci=G706%2B1700045590694
											"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										수험생 대상 신라는 경주여행 나만의 지도 만들기<br />
										 문화강좌 운영
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.20 ~ 12.1</li>
										<li><span>장 소</span>온라인</li>
										<li><span>대 상</span>수험생 학교 단체(800여명)</li>
										<li><span>문 의</span>국립경주박물관(054-740-7595)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">국립경주박물관 기념품 증정</li>
									</ul>
									<div class="organ-middle">
										수험표를 제시한 특별전시 관람객에게 향갈피 증정
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.18. ~ 소진 시</li>
										<li><span>장 소</span>국립부여박물관</li>
										<li><span>대 상</span>수험표 소지자</li>
										<li><span>문 의</span>국립부여박물관(041-830-8433)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											국립광주박물관 수험생은 자유예요! <br />
											 전시·공연프로그램
										</li>
										<a
											href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=262271&uci=G706%2B1700046646880"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										전시와 공연(스트릿댄스, 오케스트라, 마임, 마술쇼)
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.21. ~ 11.24.</li>
										<li><span>장 소</span>국립광주박물관</li>
										<li><span>대 상</span>1,000여명</li>
										<li><span>문 의</span>국립광주박물관(062-570-7800)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											국립광주박물관 수험생, 박물관과 소통하다 교육 프로그램
										</li>
										<a
											href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=262268&uci=G706%2B1700046226583"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										우리 문화를 쉽고 재미있게 구성한 박물관 교육
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.21. ~ 12.22.</li>
										<li><span>장 소</span>국립광주박물관</li>
										<li><span>대 상</span>1,000여명</li>
										<li><span>문 의</span>국립광주박물관(062-570-7800)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											국립춘천박물관 공연/전시<br />
											 무료입장
										</li>
										<a
											href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=261736&uci=G706%2B1699609960817"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										11월 문화가 있는 날 플러스, “작전명_청춘” 콘서트<br />
										 전석 무료공연
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.18(토) 19:00</li>
										<li><span>장 소</span>국립춘천박물관</li>
										<li><span>대 상</span>200여명</li>
										<li><span>문 의</span>국립춘천박물관(033-260-1555)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											국립제주박물관 수험생 대상 박물관 체험프로그램흥미진진
										</li>
										<a
											href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=262277&uci=G706%2B1700047111051"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										제주 문화 이해 및 미션으로 찾아보는 보물 찾기 등
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.28. ~ 12.22. (총 8회)</li>
										<li><span>장 소</span>국립제주박물관 강당</li>
										<li><span>대 상</span>2,240여명</li>
										<li><span>문 의</span>국립제주박물관(064-720-8104)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">국립현대미술관 무료입장</li>
									</ul>
									<div class="organ-middle">
										국립현대미술관 과천·서울·덕수궁·청주 무료입장
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>상시</li>
										<li>
											<span>장 소</span>국립현대미술관 과천·서울·덕수궁·청주
										</li>
										<li>
											<span>대 상</span>고3 학생을 포함한 만 24세 이하 상시 무료
										</li>
										<li><span>문 의</span>국립현대미술관(02-3701-9500)</li>
									</ul>
								</div>
							</div>
							<!-- 문화관련 기관/재단 -->
							<p class="title-h4">문화관련 기관/재단</p>
							<div class="organ-inner">
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">‘봄 작가, 겨울무대’ 공연 할인</li>
										<li class="icon">
											<ul class="link-layer">
												<li>
													<a
														href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=260299&uci=G7061698441428050"
														>봄 작가, 겨울 무대 <카운팅>
													</a>
												</li>
												<li>
													<a
														href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=260302&uci=G7061698441428392"
														>봄 작가, 겨울 무대 <서재 결혼 시키기>
													</a>
												</li>
												<li>
													<a
														href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=260488&uci=G706%2B1698665017013"
														>봄 작가, 겨울 무대 <제로쉴드제로>
													</a>
												</li>
											</ul>
										</li>
									</ul>
									<div class="organ-middle">
										한국문화예술위원회 기획공연 50% 할인 제공
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.17.(금) ~ 12.24.(일)</li>
										<li><span>장 소</span>대학로예술극장 대극장·소극장</li>
										<li><span>대 상</span>수험표 소지자</li>
										<li><span>문 의</span>02-3668-0007</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											한국공예디자인문화진흥원<br />
											 공연/전시 무료입장
										</li>
									</ul>
									<div class="organ-middle">
										전시2, 행사1, 공간투어 무료 입장
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.12.22. ~ 24.04.14.</li>
										<li><span>장 소</span>문화역서울284</li>
										<li><span>대 상</span>수험표 소지자</li>
										<li><span>문 의</span>국립박물관문화재단(1544-5955)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">예술의전당 공연/전시 할인</li>
										<li class="icon">
											<ul class="link-layer">
												<li>
													<a
														href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=259381&uci=G7061697836633582"
													>
														신세계와 함께하는 <br />
														 예술의전당 토요콘서트
													</a>
												</li>
												<li>
													<a
														href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=260325&uci=G7061698441431195"
													>
														KT와 함께하는 <br />
														 예술의전당 마음을 담은 클래식
													</a>
												</li>
											</ul>
										</li>
									</ul>
									<div class="organ-middle">
										2023 예술의전당 토요콘서트,<br />
										 2023 예술의전당 마음을 담은 클래식,<br />
										 50% 할인 제공
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.18.(토), 11.24.(금) 11:00</li>
										<li><span>장 소</span>예술의전당 콘서트홀</li>
										<li>
											<span>대 상</span>수험표 소지자 (온라인 예매창 수험생 할인
											권종 신설)
										</li>
										<li><span>문 의</span>예술의전당(1668-1352)</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											광주시문화재단 <br />
											 공연/전시 할인
										</li>
										<a
											href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=256900&uci=G706%2B1695638566691"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										모던풍류-두번째달×오단해<br />
										 공연 예매시 30% 학생 할인(전석 1만원)
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.29(수) 19:00</li>
										<li><span>장 소</span>남한산성아트홀 소극장</li>
										<li><span>대 상</span>500명</li>
										<li>
											<span>문 의</span>광주시문화재단 미래비전팀(1522-0338)
										</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											밀양문화관광재단<br />
											 공연/전시 무료입장
										</li>
										<a
											href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=261998&uci=G7061699737430313"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										문화가 있는 날 ‘밀양아리랑 춤판을 벌이다’ <br />
										 공연 및 전시 무료
									</div>
									<ul class="organ-bottom">
										<li>
											<span>일 시</span>‘23.12.1(금) 19:30 / 12.2(토) 19:00
										</li>
										<li><span>장 소</span>밀양아리랑센터</li>
										<li><span>대 상</span>500명</li>
										<li><span>문 의</span>055-359-4500</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											연천군 시설관리공단<br />
											 공연/전시 할인
										</li>
										<li class="icon">
											<ul class="link-layer">
												<li>
													<a
														href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=260876&uci=G7061698935114765"
													>
														[연천] 남경주 & 송은혜의<br />
														 뮤지컬 넘버 콘서트
													</a>
												</li>
												<li>
													<a
														href="https://www.culture.go.kr/oneeye/oneEyeView.do?seq=262296&uci=G706%2B1700056243885"
													>
														[연천] 남상일 & 리사의<br />
														 뮤지컬, 국악을 만나다
													</a>
												</li>
											</ul>
										</li>
									</ul>
									<div class="organ-middle">
										musical of my life 남경주×송은혜의 뮤지컬넘버 콘서트,<br />
										 국악인 남상일×리사 합동공연 <br />
										 예매시 30% 학생 할인(전석 1만원)
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>상시</li>
										<li><span>장 소</span>수레울아트홀</li>
										<li><span>대 상</span>500명</li>
										<li><span>문 의</span>031-8343-3770</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">
											문화재청 수능 끝! 대박기원<br />
											 의승병 만나기
										</li>
									</ul>
									<div class="organ-middle">
										칠백의총 탐방 및 활쏘기 체험 등
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.18.(토)</li>
										<li><span>장 소</span>칠백의총 경내 기념관</li>
										<li><span>대 상</span>44명</li>
										<li><span>문 의</span>칠백의총관리소(041-753-8701~2)</li>
									</ul>
								</div>
							</div>
							<!-- 도서관 -->
							<p class="title-h4">도서관</p>
							<div class="organ-inner">
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">국립중앙도서관 기념품 증정</li>
									</ul>
									<div class="organ-middle">
										국립중앙도서관「열린마당」실감 체험관 투어 대상자 기념품
										증정
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.16. ~ 12.16.</li>
										<li><span>장 소</span>국립중앙도서관</li>
										<li><span>대 상</span>수험표 소지자 선착순 100명</li>
										<li>
											<span>문 의</span>국립중앙도서관 실감서재(02-3456-6169)
										</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">국립세종도서관 기념품 증정</li>
										<a
											href="https://sejong.nl.go.kr/brd/NttView.do?bbsSe=BBST002&menuId=O122&upperMenuId=O100&selectedIdx=101607"
											class="icon"></a>
									</ul>
									<div class="organ-middle">
										도서관에 방문하여 책을 대출하는 수험생 대상 럭키박스 제공
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.16.~11.30.</li>
										<li><span>장 소</span>국립세종도서관</li>
										<li><span>대 상</span>수험표 소지자 선착순 100명</li>
										<li>
											<span>문 의</span>국립세종도서관
											서비스이용과(044-900-9136)
										</li>
									</ul>
								</div>
							</div>
							<!-- 기타 -->
							<p class="title-h4">기타</p>
							<div class="organ-inner">
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">청와대 예약없이 입장</li>
									</ul>
									<div class="organ-middle">
										수험표 소지자 본인 대상 예약없이 입장 지원(현장접수)
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11.16. ~ 12.31.</li>
										<li><span>장 소</span>청와대</li>
										<li><span>대 상</span>수험표 소지자3</li>
										<li>
											<span>문 의</span>청와대 관람신청 안내센터(1522-7760)
										</li>
									</ul>
								</div>
								<div class="organ-wrap">
									<ul class="organ-top">
										<li>
											<img
												src="../../public/img/logo-ico.png"
												alt="logo"
												class="logo-ico"
											/>
										</li>
										<li class="border-left">프로스포츠 관람 할인</li>
									</ul>
									<div class="organ-middle">
										프로스포츠 관람 시 무료 및 할인혜택 제공<br />
										 ( 구단 별로 제공되는 혜택의 수준이 상이하므로 각 구단
										누리집 참고)
									</div>
									<ul class="organ-bottom">
										<li><span>일 시</span>23.11월 ~ 12월</li>
										<li>
											<span>장 소</span>전국 프로스포츠 경기장 [프로농구(KBL,
											WKBL), 축구(K리그), 프로배구(KOVO)]
										</li>
										<li>
											<span>대 상</span>수능 수험표 소지자 / 현장판매 또는
											온라인예매
										</li>
										<li><span>문 의</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</Layout>
