---
let imgUrl = "../img";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=1400px" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<meta name="Title" content="수험생 대상 문화혜택 및 문화생활 정보" />
		<meta
			name="Description"
			content="수험생 대상 문화혜택 및 문화생활 정보
	  "
		/>
		<link rel="stylesheet" href="../css/ui.css" />
		<title>수험생 대상 문화혜택 및 문화생활 정보</title>
	</head>
	<body>
		<div class="wrap">
			<slot />
		</div>
	</body>
</html>
